$dark: #222222;

.header {

  font-family: Arial, sans-serif;
  color: $dark;
  line-height: 1.2;

  &.level1 {

    font-size: 40px;
  }

  &.level2 {

    font-size: 36px;
  }

  &.level3 {

    font-size: 30px;
  }

  &.level4 {

    font-size: 26px;
  }

  &.level5 {

    font-size: 20px;
  }

  &.level6 {

    font-size: 16px;
  }
}